    #welcomeText {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: clamp(60rem, 100vh, 100rem);
/*     min-height: 45rem; */
/*     max-height: 100rem; */
    width: 100%;
    background: radial-gradient(ellipse at top, var(--color-secondary-lighter), var(--color-secondary-lighter));
    color: var(--almostwhite);
}

#welcomeText::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: .05;
    background-image: url('img/moshpit.jpg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset -10rem -20rem 5rem var(--color-secondary-darker);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-1rem);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
      opacity: 0;
      transform: translate(1rem);
    }
    100% {
        opacity: 0;
        transform: translate(1rem);
      }
}

#heyBox {
    display: flex;
    flex: 1.2;
    justify-content: center;
    align-items: flex-end;
    color: var(--almostwhite);
    /* animation: fadeInOut 3000ms infinite; */
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

/* #heyBox h1 {
    font-size: clamp(4rem, 7.5vw, 7.5vw);
} */

#readyToDiscoverBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    z-index: 1;
    justify-content: center;
}

/* #readyToDiscoverBox h2 {
    font-size: clamp(2rem, 6.4vw, 6.4vw);
} */

#ouluRow h2 {
    color: inherit;
}

#ouluRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--almostwhite);
    box-sizing: border-box;
    max-height: 1rem;
    padding-top: 3rem;
}

#the {
    display: flex;
    min-width: min-content;
    justify-content: flex-end;
}

#adjective {
    display: flex;
    width: fit-content;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: opacity 500ms ease-in, transform 500ms ease-in-out,  width 800ms ease;
    line-height: .9;
    padding: 2rem 1.2rem;
    position: relative;
    -webkit-text-stroke-width: .2rem;
}

#adjective.drunker {
    animation: drunker 2.0s ease-out forwards;
}

@keyframes drunker {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#adjectiveGhost {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: opacity 500ms ease-in, transform 50ms ease-out,  width 800ms ease;
    line-height: .9;
    padding: 1rem 1.2rem;
    font-size: var(--font-3xl);
    z-index: -1;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .1rem;
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
}

/* #adjective.anim {
    transform: scale(.8);
} */

#adjective h2 {
    font-weight: 500;
}

#adjective.hide {
    opacity: 0.0 !important;
/*     transform: translateY(-1rem); */
    /* clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%); */
}

#adjective h2.anim {
    animation: adjectiveClipAnim 3800ms ease-out;
    padding: 2rem 0;
}

@keyframes adjectiveClipAnim {
    0% {
        clip-path: circle(0.0% at 50% 50%);
        transform: scale(1);
    }
    100% {
        clip-path: circle(70.7% at 50% 50%);
      }
}

#oulu {
    display: flex;
    min-width: min-content;
    justify-content: flex-start;
}

#buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#firstWave {
    position: absolute;
    width: 100%;
    height: 30rem;
    bottom: -30rem;
    z-index: 0;
    transform: scale(-1, 1);
    
    background-image: url('img/wave.svg');
    background-repeat: no-repeat;
    background-position: top;
    animation: waves 2s;
    display: none;
}

@keyframes waves {
    0% {
        height: 60rem;
        bottom: -60rem;
    }
    100% {
        height: 30rem;
        bottom: -30rem;
    }
}


#actualContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: 0rem;
}

#actualContentContainer .textBox {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 80rem;
    position: relative;
    background-color: var(--almostwhite);
    color: var(--tertiary);
    padding: 4rem;
    box-sizing: border-box;
    border-radius: 0rem;
    margin-bottom: 7rem;
}

#actualContentContainer .textBox:last-child {
    margin-bottom: 20rem;
}


#actualContentContainer .headerWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 2rem;
    max-width: 50rem;
    min-width: min-content;
    color: var(--color-tertiary);
}

#actualContentContainer .headerWrapper:before {
    content: '';
    display: block;
    height: auto;
    margin: .5rem 0;
    min-width: .7rem;
    background-color: var(--color-primary);
    top: 0;
    margin-right: 2rem;

}

.signAndFigure {
    position: absolute;
    width: 20.6rem;
    height: 15.3rem;
    background-image: url('img/hahmoJaKyltti.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -15.3rem;
    opacity: .1;
    display: none;
}

#actualContentContainer .signAndFigure {
    display: none;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 50rem;
    background: linear-gradient(var(--lightgrey), rgb(207, 182, 129));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#secondWave {   
    height: 40rem;
    width: 100%;
    background-image: url('img/wave3.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 2560px 40rem;
    position: relative;
    overflow: hidden;
}

#house {
    width: 13.146rem;
    height: 11.966rem;
    background-image: url('img/house.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 20rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 16.5rem;
    transform: rotate(-4deg);
    display: block;
}

#street {
    width: 23.1rem;
    height: 12.2rem;
    background-image: url('img/street.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: -26rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 16rem;
    transform: rotate(9.7deg);
    display: block;
}

#pines {
    width: 13.703rem;
    height: 13.035rem;
    background-image: url('img/pines.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: -120rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 14.5rem;
    transform: rotate(-3deg);
    display: block;
}


#sign {
    width: 4.689rem;
    height: 9.268rem;
    background-image: url('img/sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -90rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 9.4rem;
    transform: rotate(2deg);
    display: block;
}

#house2 {
    width: 10.884rem;
    height: 6.103rem;
    background-image: url('img/house2.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0rem;
    right: -12rem;
    margin-left: auto;
    margin-right: auto;
    bottom: 16.8rem;
    transform: rotate(9deg);
    display: block;
}

#sinappiBG {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

#students {
    max-width: 50rem;
    height: 39.79rem;
    background-image: url('img/students.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -37rem;
    display: block;
}

@media only screen and (min-width: 768px) {

    #ouluRow {
        padding-top: 5rem;
    }

    #buttonBox .signAndFigure {
        display: none;
    }

    #actualContentContainer .signAndFigure {
        display: block;
    }

    .signAndFigure {
        opacity: 1;
        width: 25.9rem;
        height: 20.3rem;
        right: -2rem;
        top: -20.3rem;

    }

    #actualContentContainer .textBox {
        padding: 4rem;
        border-radius: 1rem;
    }

    #actualContentContainer {
        top: -2rem;
        margin-bottom: -2rem;
    }

    #firstWave {
        display: block;
    }

}