#welcomeText {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: clamp(55rem, 100%, 100rem);
/*     min-height: 45rem; */
/*     max-height: 100rem; */
    width: 100%;
    background: radial-gradient(ellipse at top, var(--color-secondary-lighter), var(--color-secondary));
    color: var(--almostwhite);
}

#welcomeText::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: .05;
    background-image: url('img/moshpit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -10rem 5rem var(--color-secondary);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-1rem);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
      opacity: 0;
      transform: translate(1rem);
    }
    100% {
        opacity: 0;
        transform: translate(1rem);
      }
}

#heyBox {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: flex-end;
    color: var(--almostwhite);
    /* animation: fadeInOut 3000ms infinite; */
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

#readyToDiscoverBox {
    display: block;
    flex: 3;
    margin-top: 2rem;
    text-align: center;
    z-index: 1;
}

#ouluRow h2 {
    margin-top: 1rem;
    display: inline-block;
    color: inherit;
}

#ouluRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--almostwhite);
}

#adjective {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: .5rem;
    color: var(--color-primary);
    transition: all 500ms;
    transform: translateY(0rem);
    line-height: .9;
}

#adjective.hide {
    opacity: 0.0 !important;
    transform: translate(-1rem);
}

#oulu {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin-left: .5rem;
}

#buttonBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
    position: relative;
}

#firstWave {
    position: absolute;
    width: 100%;
    height: 30rem;
    bottom: -30rem;
    z-index: 0;
    transform: scale(-1, 1);
    
    background-image: url('img/wave.svg');
    background-repeat: no-repeat;
    background-position: top;
    animation: waves 2s;
    display: none;
}

@keyframes waves {
    0% {
        height: 60rem;
        bottom: -60rem;
    }
    100% {
        height: 30rem;
        bottom: -30rem;
    }
}


#actualContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
    height: auto;
    position: relative;
    top: 0rem;
}

#actualContentContainer .textBox {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
    background-color: var(--almostwhite);
    color: var(--tertiary);
    padding: 4rem;
    box-sizing: border-box;
    border-radius: 0rem;
    margin-bottom: 8rem;
}


#actualContentContainer .headerWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 2rem;
    max-width: 40rem;
    min-width: min-content;
}

#actualContentContainer .headerWrapper:before {
    content: '';
    display: block;
    height: auto;
    margin: .5rem 0;
    width: 1.3rem;
    background-color: var(--color-primary);
    top: 0;
    margin-right: 2rem;

}

.signAndFigure {
    position: absolute;
    width: 20.6rem;
    height: 15.3rem;
    background-image: url('img/hahmoJaKyltti.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -15.3rem;
    opacity: .1;
    display: none;
}

#actualContentContainer .signAndFigure {
    display: none;
}

@media only screen and (min-width: 768px) {

    #buttonBox .signAndFigure {
        display: none;
    }

    #actualContentContainer .signAndFigure {
        display: block;
    }

    .signAndFigure {
        opacity: 1;
        width: 30.9rem;
        height: 25.3rem;
        right: -4rem;
        top: -25.3rem;

    }

    #actualContentContainer .textBox {
        padding: 4rem;
        border-radius: 1rem;
    }

    #actualContentContainer {
        top: -5rem;
    }

    #firstWave {
        display: block;
    }

}