#welcomeText {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: clamp(55rem, 100%, 100rem);
/*     min-height: 45rem; */
/*     max-height: 100rem; */
    width: 100%;
    background: radial-gradient(ellipse at top, var(--color-secondary-lighter), var(--color-secondary));
    color: var(--almostwhite);
}

#welcomeText::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    opacity: .05;
    background-image: url('img/moshpit.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 -10rem 5rem var(--color-secondary);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-1rem);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
      opacity: 0;
      transform: translate(1rem);
    }
    100% {
        opacity: 0;
        transform: translate(1rem);
      }
}

#heyBox {
    display: flex;
    flex: 1.3;
    justify-content: center;
    align-items: flex-end;
    color: var(--almostwhite);
    /* animation: fadeInOut 3000ms infinite; */
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}

#readyToDiscoverBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    z-index: 1;
    justify-content: center;
}

#ouluRow h2 {
    color: inherit;
}

#ouluRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--almostwhite);
    box-sizing: border-box;
    max-height: 1rem;
    padding-top: 3rem;
}

#the {
    display: flex;
    min-width: min-content;
    justify-content: flex-end;
}

#adjective {
    display: flex;
    width: fit-content;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: opacity 500ms ease-in, transform 500ms ease-in-out,  width 800ms ease;
    line-height: .9;
    padding: 2rem 1.2rem;
    position: relative;
}

#adjectiveGhost {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: opacity 500ms ease-in, transform 500ms ease-in-out,  width 800ms ease;
    line-height: .9;
    padding: 1rem 1.2rem;
    font-size: var(--font-3xl);
    z-index: -1;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .1rem;
    font-weight: 400;
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
}

@keyframes adjectiveAnim {
    0% {
        clip-path: circle(0.0% at 50% 50%);
    }
    100% {
        clip-path: circle(70.7% at 50% 50%);
      }
}

#adjective h2 {
    font-weight: 600;
}

#adjective.hide {
    opacity: 0.0 !important;
/*     transform: translateY(-1rem); */
    /* clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%); */
}

#adjective h2.anim {
    animation: adjectiveAnim 3500ms ease-out;
    padding: 2rem 0;
}

#oulu {
    display: flex;
    min-width: min-content;
    justify-content: flex-start;
}

#buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

#firstWave {
    position: absolute;
    width: 100%;
    height: 30rem;
    bottom: -30rem;
    z-index: 0;
    transform: scale(-1, 1);
    
    background-image: url('img/wave.svg');
    background-repeat: no-repeat;
    background-position: top;
    animation: waves 2s;
    display: none;
}

@keyframes waves {
    0% {
        height: 60rem;
        bottom: -60rem;
    }
    100% {
        height: 30rem;
        bottom: -30rem;
    }
}


#actualContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: 0rem;
}

#actualContentContainer .textBox {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 80rem;
    position: relative;
    background-color: var(--almostwhite);
    color: var(--tertiary);
    padding: 4rem;
    box-sizing: border-box;
    border-radius: 0rem;
}


#actualContentContainer .headerWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 2rem;
    max-width: 40rem;
    min-width: min-content;
}

#actualContentContainer .headerWrapper:before {
    content: '';
    display: block;
    height: auto;
    margin: .5rem 0;
    width: 1.3rem;
    background-color: var(--color-primary);
    top: 0;
    margin-right: 2rem;

}

.signAndFigure {
    position: absolute;
    width: 20.6rem;
    height: 15.3rem;
    background-image: url('img/hahmoJaKyltti.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -15.3rem;
    opacity: .1;
    display: none;
}

#actualContentContainer .signAndFigure {
    display: none;
}

#secondWave {   
    height: 40rem;
    width: 100%;
    background-image: url('img/wave2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#houses {
    width: 13.146rem;
    height: 11.966rem;
    background-image: url('img/house.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 9rem;
    transform: rotate(6deg);
}

#sinappiBG {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    padding-bottom: 15rem;
}

@media only screen and (min-width: 768px) {

    #ouluRow {
        padding-top: 5rem;
    }

    #buttonBox .signAndFigure {
        display: none;
    }

    #actualContentContainer .signAndFigure {
        display: block;
    }

    .signAndFigure {
        opacity: 1;
        width: 25.9rem;
        height: 20.3rem;
        right: -2rem;
        top: -20.3rem;

    }

    #actualContentContainer .textBox {
        padding: 4rem;
        border-radius: 1rem;
    }

    #actualContentContainer {
        top: -3rem;
    }

    #firstWave {
        display: block;
    }

}