:root {

    /* COLORS */

    /* Sinapinkeltainen */
    --primary: 42, 75%;
    --primary-lightness: 56%;
    --color-primary: hsla(var(--primary), var(--primary-lightness), 100%); 
    --color-primary-50: hsla(var(--primary), calc(var(--primary-lightness) - 0%), 50%); 

    /* Vaalea viininpunainen */
    --secondary: 269, 13%; 
    --secondary-lightness: 45%; 
    --color-secondary: hsla(var(--secondary), var(--secondary-lightness), 100%); 
    --color-secondary-50: hsla(var(--secondary), calc(var(--secondary-lightness) - 0%), 50%);
    --color-secondary-darker: #352447; 
    --color-secondary-lighter: #352447; 

    /* Tumma viininpunainen */
    --tertiary: 231, 100%; 
    --tertiary-lightness: 9%; 
    --color-tertiary: hsla(var(--tertiary), var(--tertiary-lightness), 100%); 
    --color-tertiary-50: hsla(var(--tertiary), calc(var(--tertiary-lightness) - 0%), 50%); 

    --bg-color: #706085;
    --lightgrey: #E3E3E3;
    --lightergrey: #e2e2e2;
    --almostwhite: #F9F9F9;


    /* Font sizes */
    --font-xxs: 1.2rem;
    --font-xs: 1.4rem;
    --font-s: 1.6rem;
    --font-m: 1.4rem;
    --font-l: 1.6rem;
    --font-xl: 2.4rem;
    --font-2xl: 2.8rem;
    --font-3xl: 3.2rem;
    --font-4xl: 4.8rem;

    /* Screen sizes */
    --mobile: 32rem;
    --tablet: 48rem;
    --laptop: 78rem;
    --desktop: 100rem;
    --tv: 120rem;
    

    --hover-effect: inset 100rem 100rem rgba(255, 255, 255, 0.2);

    --transition: all linear 100ms;
    
    --shadow-s: .1rem .2rem .5rem rgba(0, 0, 0, 0.5);

    --header-height: 9rem;
    --app-height: 1vh;
    
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

h1 {
    font-size: var(--font-4xl);
    font-weight: 700;
}

h2 {
    font-size: var(--font-3xl);
    font-weight: 600;
}

h3 {
    font-size: var(--font-2xl);
    font-weight: bold;
}

h4 {
    font-size: var(--font-xl);
    font-weight: 600;
}

h5 {
    font-size: var(--font-l);
    font-weight: 800;
}

p {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;  /* =10px */
    min-height: -webkit-fill-available;
    background-color: var(--lightgrey);
}

body {
    height: 100%;
    overflow-y: auto;
    min-height: -webkit-fill-available;
}

a > button {
    text-decoration: none;
}

.button {
    height: 3rem;
    width: 8rem;
    padding: 1.6rem 1.8rem;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: .5rem;
    transition: var(--transition-button);
    white-space: nowrap;
    letter-spacing: .2rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    font-weight: normal;
    overflow: hidden;
    text-decoration: none;
    z-index: 98;
}

.button:after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.0);
    position:absolute;
    top:0;
    left:0;
    transition: var(--transition);
}

.button:hover:after {
    background:rgba(255, 255, 255, 0.2);
} 

.button.buttonBig {
    /* default override */
    letter-spacing: .1rem;
    /*  */
    min-width: min-content;
    padding: 3.0rem 3.5rem;
    background-color: var(--color-tertiary);
    color: var(--almostwhite);
    border-radius: 1.4rem;
    font-size: 2.4rem;
    font-weight: 600;
    box-shadow: 0.0rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.button.buttonBig .material-icons {
    font-size: var(--font-xl);
    margin-left: 3rem;
}

.button.buttonSmallHollow {
    /* default override */
    justify-content: center;
    box-shadow: 0.0rem 0.3rem 1rem rgba(0, 0, 0, 0.0);
    color: var(--color-tertiary);
    background-color: transparent;
    border: .1rem solid var(--color-tertiary);
    /*  */

    font-size: var(--font-xs);
}

.button .buttonSmallHollow:hover:after {
    /* default override */
    background:rgba(0, 0, 0, 0.2);
    /*  */
}

header {
    display: flex;
    position: fixed;
    z-index: 99;
    top: 0;
    flex-direction: column;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-secondary-darker);
/*     box-shadow: var(--shadow-s); */
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    transition-property: height, background-color, border-bottom, box-shadow;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

header.minimized {
    height: 5rem;
    background-color: var(--color-tertiary);
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-s);
}

header a {
    transition: var(--transition);
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#headerContent {
    width: 100%;
    height: 100%;
    max-width: var(--tv);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    
}

#logoContainer {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: fit-content;
    font-size: 3.2rem;
    transition: var(--transition);
    box-sizing: border-box;
}

#wholeLogo {
    display: flex;
    flex-direction: row;
    text-decoration: none;  
    display: flex;
    height: 60%;
    box-sizing: border-box;
    padding: 0 2rem;
    align-items: flex-end;
    transition: var(--transition);
}

header.minimized #wholeLogo {
    height: 100%;
}

#logoContainer span {
    color: var(--almostwhite);
    font-weight: 600;
}

.logo {
    height: 1rem;
    width: 1rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
}


/* #logoContainer a span:nth-child(2) {
    font-weight: 300;
} */


.logo::after {
    content: '';
    position: absolute;
    height: 0rem;
    width: 0rem;
    margin: auto;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .6rem solid var(--color-primary);
    bottom: -.4rem;
    left: 0;
    right: 0;
}

#logoContainer span:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    color: var(--color-primary);
}

#nav {
    flex: 3;
    display: flex;
    height: 5rem;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
}

#nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    height: 60%;
    transition: var(--transition);
}

header.minimized #nav ul {
    height: 100%;
}

#nav li {
    flex: 1;
    display: flex;
    height: auto;
    position: relative;
}

#nav a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: var(--font-s);
    position: relative;
    color: var(--almostwhite);
    letter-spacing: .1rem;
    align-items: center;
    box-sizing: border-box;
    padding-top: .6rem;
}

#nav ul .active {
   font-weight: 600;
}

#nav ul .active:after {
    content: '';
    width:5rem;
    height: .3rem;
    background-color: var(--almostwhite);
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
}

#language {
    display: none;
    height: 100%;
    align-items: flex-end;
}

#language ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: var(--font-xs);
    height: 60%;
    justify-content: center;
    transition: var(--transition);
}


header.minimized #language ul {
    height: 100%;
}

#language li {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: var(--font-xs);
}


#language a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--almostwhite);
    text-decoration: none;
    white-space: nowrap;
    padding: 0 2rem;
    position: relative;
    box-sizing: border-box;
    padding-top: .6rem;
    letter-spacing: .1rem;
}

#language a.active {
    font-weight: 600;
}

#language a.active:before {
    content: '';
    position: absolute;
    height: 3rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: .6rem;
}


#language .spacer {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--almostwhite);
    padding-top: .6rem;
}


#language abbr {
    text-decoration: none;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-items: center;
    position: relative;
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#footerBox {
    display: flex;
    max-width: var(--tv);
    min-height: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#footerBox .footerItem {
    flex: 1;
    min-width: 20rem;
    height: auto;
    color: var(--almostwhite);
    text-align: center;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

#footerBox h5 {
    padding: 2rem 0rem;
}

#footerBox a {
    color: var(--color-primary);
    box-sizing: border-box;
}

#footerBox p {
    font-size: var(--font-xs);
}

@media only screen and (min-width: 768px) {
    #language {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 1;
        height: 100%;    
    }

    #nav {
        flex: 1;
        justify-content: center;
    }

    :root {
        --font-xxs: 1.2rem;
        --font-xs: 1.4rem;
        --font-s: 1.6rem;
        --font-m: 1.8rem;
        --font-l: 1.8rem;
        --font-xl: 3.2rem;
        --font-2xl: 4.8rem;
        --font-3xl: 7.2rem;
        --font-4xl: 9.6rem;
    }

/*     header.minimized {
        height: var(--header-height);
    } */

/*     #logoContainer.minimized {
        transform: scale(.8);
    } */

}



