html {
    background-color: var(--bg-color);
}

#content {
    display: flex;
    margin-top: 150px;
    text-align: left;
    justify-self: center;
    flex-wrap: nowrap;
}

/*Heading*/
#discover-text {
    color: white;
}

#places-text {
    color: var(--color-primary);
}

/*Search bar (box and button)*/
#search-bar {
    position: relative;
    margin-top: 20px;
}

/*Search box*/
#search-box {
    width: 525px;
    height: 70px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    padding-left: 30px;
}

/*Search button*/
#search-button {
    width: 110px;
    height: 70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    color: var(--almostwhite);
    background-color: var(--color-tertiary);
    transition: all ease-in-out .2s;
    position: absolute;
}

#search-button:hover {
    cursor: pointer;
    background:rgba(255, 255, 255, 0.2);
}

#search-button:after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.0);
    position:absolute;
    top:0;
    left:0;
    transition: var(--transition);
}

#search-button:hover:after {
    background:rgba(255, 255, 255, 0.2);
}

/*Categories*/
.category-button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#attractions-button {
    border-radius: 50px;
    background-color: rgba(211, 192, 127, 1);
}

#restaurants-button{
    border-radius: 50px;
    background-color: rgba(211, 127, 127, 1);
}

#partyspots-button {
    border-radius: 50px;
    background-color: rgba(127, 211, 176, 1);
}

#clubs-button {
    border-radius: 50px;
    background-color: rgba(199, 127, 211, 1);
}

#campuses-button {
    border-radius: 50px;
    background-color: rgb(82, 94, 160);
}

