html {
    background-color: var(--color-secondary-darker);
}

body {
    min-height: calc(100vh - 30rem);
}

#content {
    display: flex;
    padding-top: 150px;
    text-align: left;
    justify-self: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

/*Heading*/
#discover-text {
    color: white;
}

#places-text {
    color: var(--color-primary);
}

#places-image > img {
    width: 400px;
}

/*Search bar (box and button)*/
#search-bar {
    position: relative;
    margin-top: 20px;
}

/*Search box*/
#search-box {
    width: 525px;
    height: 70px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    padding-left: 30px;
    outline: none;
}

/*Search button*/
#search-button {
    width: 110px;
    height: 70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    color: var(--almostwhite);
    background-color: var(--color-tertiary);
    transition: all ease-in-out .2s;
    position: absolute;
}

#search-button:hover {
    cursor: pointer;
    background:rgba(255, 255, 255, 0.2);
}

#search-button:after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.0);
    position:absolute;
    top:0;
    left:0;
    transition: var(--transition);
}

#search-button:hover:after {
    background:rgba(255, 255, 255, 0.2);
}

/*Category buttons*/
.category-button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    transition: all 100ms linear;
}

.category-button > img {
    height: 1.5rem;
    margin-right: 5px;
}

.category-button:hover {
    color: white;
    transition-duration: .2s;
}

#attractions-button {
    border-radius: 50px;
    background-color: rgba(211, 192, 127, 1);
}

#restaurants-button{
    border-radius: 50px;
    background-color: rgba(211, 127, 127, 1);
}

#partyspots-button {
    border-radius: 50px;
    background-color: rgba(127, 211, 176, 1);
}

#clubs-button {
    border-radius: 50px;
    background-color: rgba(199, 127, 211, 1);
}

#campuses-button {
    border-radius: 50px;
    background-color: rgb(80, 170, 255);
}

/*Results*/
#results {  
    margin-top: 20px;
    color: white;
}

.result-box {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--lightgrey);
    border-radius: 12px;
    height: 120;
}

.result-box > img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: grey;
    margin-right: 40px;
}

.attraction-box .result-box > img {
    border-color: rgba(211, 192, 127, 1);;
}

.restaurant-box .result-box > img {
    border-color: rgba(211, 127, 127, 1);
}

.partyspot-box .result-box > img {
    border-color: rgba(127, 211, 176, 1);
}

.club-box .result-box > img {
    border-color: rgba(199, 127, 211, 1);
}

.campus-box .result-box > img {
    border-color: rgb(80, 170, 255);
}

#result-texts {
    width: 500px;
}

#result-texts > h5 {
    color: black;
}

#result-texts > p {
    color: rgb(150, 150, 150);
    line-height: 1.5;
    margin-top: 5px;
}

#view-button {
    align-self: center;
    height: 50px;
    width: 110px;
    margin-left: auto;
    font-size: var(--font-l);
    border-radius: 5px;
    border-style: solid;
    border-color: darkgrey;
    background-color: transparent;
}

#view-button:hover {
    cursor: pointer;
}

#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none; /* change to display: block; to show info popup */
}

#infoPopup {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--almostwhite);
    max-width: 80rem;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

#topbar {
    width: 100%;
    height: 7rem;
    box-shadow: var(--shadow-s);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--almostwhite);
    z-index: 1;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    gap: .5rem;
}

#titleContainer #placeName {
    font-size: 1.8rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-tertiary);
}

#titleContainer #placeAddress {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
}

#exitButton {
    width: 8rem;
    background-color: transparent;
    border: none;
    transition: var(--transition);
}


#exitButton span {
    color: var(--color-tertiary);
    font-size: 2.8rem;
}

#exitButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#popupContent {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

#popupBanner {
    background-image: url('../img/moshpit.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#bannerBox {
    background-color: rgba(112, 96, 133, 0.9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    color: var(--almostwhite);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#shortDesc {
    flex: 1;
    min-width: 25rem;
    margin: 2rem;
}

#showOnMapButton {
    padding: 1rem 2.0rem;
    background-color: transparent;
    border: 1px solid var(--almostwhite);
    border-radius: .6rem;
    color: var(--almostwhite);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
    box-sizing: border-box;
    transition: var(--transition);
    white-space: nowrap;
    font-size: 1.4rem;
    margin: 2rem;
}

#showOnMapButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#popupText {
    padding: 4rem;
}

@media only screen and (min-width: 768px) {

    #infoPopup {
        height: 90%;
        border-radius: .6rem;
    }

}