html {
    background-color: var(--bg-color);
}

#content {
    display: flex;
    margin-top: 150px;
    text-align: left;
    justify-self: center;
    flex-wrap: nowrap;
}

/*Heading*/
#discover-text {
    color: white;
}

#places-text {
    color: var(--color-primary);
}

#places-image > img {
    width: 400px;
}

/*Search bar (box and button)*/
#search-bar {
    position: relative;
    margin-top: 20px;
}

/*Search box*/
#search-box {
    width: 525px;
    height: 70px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    padding-left: 30px;
}

/*Search button*/
#search-button {
    width: 110px;
    height: 70px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-style: none;
    font-size: var(--font-l);
    font-weight: bold;
    color: var(--almostwhite);
    background-color: var(--color-tertiary);
    transition: all ease-in-out .2s;
    position: absolute;
}

#search-button:hover {
    cursor: pointer;
    background:rgba(255, 255, 255, 0.2);
}

#search-button:after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.0);
    position:absolute;
    top:0;
    left:0;
    transition: var(--transition);
}

#search-button:hover:after {
    background:rgba(255, 255, 255, 0.2);
}

/*Category buttons*/
.category-button {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.category-button > img {
    height: 1.5rem;
    margin-right: 5px;
}

.category-button:hover {
    color: white;
    transition-duration: .2s;
}

#attractions-button {
    border-radius: 50px;
    background-color: rgba(211, 192, 127, 1);
}

#restaurants-button{
    border-radius: 50px;
    background-color: rgba(211, 127, 127, 1);
}

#partyspots-button {
    border-radius: 50px;
    background-color: rgba(127, 211, 176, 1);
}

#clubs-button {
    border-radius: 50px;
    background-color: rgba(199, 127, 211, 1);
}

#campuses-button {
    border-radius: 50px;
    background-color: rgb(80, 170, 255);
}

/*Results*/
#results {
    margin-top: 20px;
    color: white;
}

.result-box {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--lightgrey);
    border-radius: 12px;
    height: 120;
}

.result-box > img {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: grey;
    margin-right: 40px;
}

.attraction-box .result-box > img {
    border-color: rgba(211, 192, 127, 1);;
}

.restaurant-box .result-box > img {
    border-color: rgba(211, 127, 127, 1);
}

.partyspot-box .result-box > img {
    border-color: rgba(127, 211, 176, 1);
}

.club-box .result-box > img {
    border-color: rgba(199, 127, 211, 1);
}

.campus-box .result-box > img {
    border-color: rgb(80, 170, 255);
}

#result-texts > h5 {
    color: black;
}

#result-texts > p{
    color: darkgrey;
}

.view-button {
    align-self: center;
    height: 50px;
    width: 110px;
    margin-left: auto;
    font-size: var(--font-l);
    border-radius: 5px;
    border-style: solid;
    border-color: darkgrey;
    background-color: transparent;
}