body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

/* header {
    position: relative !important;
    height: 3rem !important;
} */

#content {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: red;
    align-items: flex-end;
}

#map {
    width: 100%;
    height: 100%;
    flex: 2;
}

#popup {
    background-color: var(--almostwhite);
    box-shadow: var(--shadow-s);
    z-index: 100;
    left: 0;
    bottom: 0;
    transition: (--transition);
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: absolute;
}

#popup.closed {
    display: none;
}

#topbar {
    width: 100%;
    height: 7rem;
    box-shadow: var(--shadow-s);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--almostwhite);
    z-index: 1;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#titleContainer #placeName {
    font-size: 2.2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-tertiary);
}

#titleContainer #placeAddress {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    overflow: hidden;
}

#exitButton {
    width: 8rem;
    background-color: transparent;
    border: none;
    transition: var(--transition);
}


#exitButton span {
    color: var(--color-tertiary);
    font-size: 2.8rem;
}

#exitButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#popupContent {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

#popupBanner {
    background-image: url('../img/moshpit.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#bannerBox {
    background-color: rgba(112, 96, 133, 0.9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--almostwhite);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#shortDesc {
    flex: 1;
    min-width: 25rem;
    margin: 2rem;
}

#showOnMapButton {
    padding: 0 2.5rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid var(--almostwhite);
    border-radius: .6rem;
    color: var(--almostwhite);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .1rem;
    box-sizing: border-box;
    transition: var(--transition);
    white-space: nowrap;
    font-size: 1.6rem;
    margin: 2rem;
}

#showOnMapButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#popupText {
    padding: 4rem;
}


@media only screen and (min-width: 768px) {
   #popup {
    flex-basis: auto;
   }

    #popup {
        position: relative;
        width: 40rem;
        height: calc(100% - 5rem);
        z-index: 1;
    }

}